@model Thandizo.DataModels.Identity.ViewModels.PasswordChangeViewModel

    <div class="container-fluid">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle">
                <div class="auth-form  ml-auto mr-auto no-float">
                    <div class="panel panel-default card-view mb-0">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">set your password</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <form asp-controller="Account" asp-action="UpdatePassword" method="post">
                                                <partial name="_ValidationSummary" />
                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="exampleInputpwd_2">New Password</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" required asp-for="NewPassword" placeholder="Enter new pwd">
                                                        <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label mb-10" for="exampleInputpwd_3">Confirm Password</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" required asp-for="NewPasswordConfirmation" placeholder="re-enter pwd">
                                                        <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-block">Reset</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>
